<template>
    <div>
        <div>
<el-table :data="posts.data" height="250" >
    <el-table-column prop="title" label="Title"> </el-table-column>
    <el-table-column prop="content" label="Content" > </el-table-column>
    <el-table-column prop="is_free" label="Free"> </el-table-column>
  </el-table>
  </div>
    </div>
</template>
<script>
import {ElTable,ElTableColumn} from 'element-plus'
export default {
    components:{
        ElTable,
        ElTableColumn,
    },
  data() {
    return {
      posts: [],
    };
  },

  methods: {
    async getData() {
      try {
        let response = await fetch("http://127.0.0.1:8000/api/lessons");
        this.posts = await response.json();;
      } catch (error) {
        console.log(error);
      }
    },
  },

  created() {
    this.getData();
  },
};
</script>

