<template>
  <div>
      Test
  <el-table :data="tableData" height="250" style="width: 100%">
    <el-table-column prop="date" label="Date" width="180"> 1</el-table-column>
    <el-table-column prop="name" label="Name" width="180"> 2</el-table-column>
    <el-table-column prop="address" label="Address">3 </el-table-column>
  </el-table>
  </div>
</template>

<script>
import {ElTable,ElTableColumn} from 'element-plus'
export default {
    components:{
        ElTable,
        ElTableColumn,
    },
  data() {
    return {
      posts: [],
    };
  },
  methods:{
    async getdata(){
      await fetch("http://127.0.0.1:8000/api/lessons").then(res => res.json()).then(data => this.posts=data).catch(err => console.log(err.message));
    }
  },
  created(){
    this.getdata();
  }
};
</script>
